<ul id="nav">
    <li id="ajax"><a href="{{ .Site.BaseURL }}/index.html">Home</a></li>
    <li id="ajax"><a href="{{ .Site.BaseURL }}/page/about">about me</a></li>
    <li id="ajax"><a href="{{ .Site.BaseURL }}/tags/index.html">Etiquetas</a></li>
    <li><a href="{{ .Site.BaseURL }}/{{ .Site.Params.theme.site_rsslink }}">RSS</a></li>

</ul>
