{{ define "header" }}<!-- No header on 404 pages -->{{ end }}
{{ define "main" }}
  <article class="post">
    <div>
      <h1>"Whoops, this page doesn't exist. Move along. (404 error)"</h1>
      <br/>
      <img src="{{ .Site.BaseURL }}/img/404-southpark.jpg" />
    </div>
  </article>
{{ end }}
