<!-- audio html -->
<audio controls>
  <source src="/sounds/{{ .Get "soundtrack" }}.mp3" type="audio/mpeg">
    Your browser does not support the audio tag.
</audio>
<!-- <a href="{{ .Get "url" }}" target="_blank">{{ with .Get "title" }}{{.}}{{else}}{{.Get "url"}}{{end}}</a> -->
